.nice-block {
    height: 40px;
    overflow: hidden;
    width: 100px;
    padding: 10px;
    background: pink;
    margin: 20px;
}

.less {}

.more {
    height: auto;
    overflow: visible;
}

.nice-block span {
    cursor: pointer;
    color: darkviolet;
}

/* Change page background color */
body {
    background-color: lightblue;
}

/* Change all text color */
h1, p {
    color: darkblue;
}
