#creature {
  width: 120px;
  height: 120px;
  background: pink;
  border-radius: 20px;
  margin-bottom: 20px;
}
#creature2 {
  width: 120px;
  height: 120px;
  background: lightblue;
  border-radius: 20px;
  margin-top: 40px;
  outline: none; /* needed so focus looks clean */
}
#creature2 {
  width: 120px;
  height: 120px;
  background: pink;
  border-radius: 20px;
  margin-top: 30px;
}
